extends layout

block content
  .row(style="padding-top: 10px; background-color: #f1f1f1; width: calc(100% - 10px); margin-left:5px; margin-right: 5px; height: calc(100% - 102px); font-family: Segoe UI,Helvetica Neue,Helvetica,Arial,Verdana")
   div(style="text-align:center")
     h1.display-3 Software Project Management
     p.lead A simple to use software project management tool for project managers/owners and employees!
     a.btn.btn-info-outline.btn-lg(href='/register') Register HERE
     a.btn.btn-info-outline.btn-lg(href='/login') Login HERE

