{{#> index title="overview"}}
    {{#*inline "content-block"}}
<div class="row" style="padding-top: 10px;background-color: #f1f1f1; font-family: Segoe UI,Helvetica Neue,Helvetica,Arial,Verdana">
    <div class="col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1" style="min-height:500px">
        <h1>Profile </h1>
        <pre style="font-size:20px">Name: {{FullName}}    </pre>
        <pre style="font-size:20px">Title: {{Title}}      </pre>
        <pre style="font-size:20px">Email: {{Email}}     </pre>
        <pre style="font-size:20px">EmployeeID: {{EmployeeID}} </pre>
    </div>
</div>
    {{/inline}}
{{/index}}