{{#> index title="overview"}}
    {{#*inline "content-block"}}
<div class="row" id="inc" style="padding-top: 10px;background-color: gray; font-family: Segoe UI,Helvetica Neue,Helvetica,Arial,Verdana">
    <div class="col-md-6 col-md-offset-3 col-xs-8 col-xs-offset-2" style="background-color: #f1f1f1;margin-bottom:20px; margin-top:20px; padding: 10px 10px 10px 10px;">
        <h1 class="display-4 m-b-2">Sign Up</h1>
        <!-- register form-->
        <form method="POST" action="/register">
            <div class="form-group">
                <label for="name">Full Name:</label>
                <input class="form-control" id="name" type="text" placeholder="First and Last Name" name="name"/>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input class="form-control" id="email" type="email" placeholder="name@email.com" name="email"/>
            </div>
            <div class="form-group">
                <label for="Title">Title:</label>
                <input class="form-control" id="Title" type="text" placeholder="Title" name="Title"/>
            </div>
            <div class="form-group">
                <label for="EmployeeID">EmployeeID:</label>
                <input class="form-control" id="EmployeeID" type="text" placeholder="EmployeeID" name="EmployeeID"/>
            </div>
            <div class="form-group">
                <label for="pw">Password:</label>
                <input class="form-control" id="pw" type="password" name="password"/>
            </div>
            <div class="form-group">
                <label for="pw2">Confirm Password:</label>
                <input class="form-control" id="pw2" type="password" name="confirmPassword"/>
            </div>
            <button class="btn btn-primary" type="submit">Sign up</button>
        </form>
    </div>
</div>
<script>
    window.onload = function (e) {
        document.getElementById("inc").style.height = window.innerHeight  + "px"
    }
</script>
    {{/inline}}
{{/index}}